services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: checker
      POSTGRES_PASSWORD: checker
      POSTGRES_DB: checker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
